[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-dotenv = "*"
psycopg2-binary = "*"
whitenoise = "*"
drf-yasg = "*"
djangorestframework-simplejwt = "*"
bcrypt = "*"
pytest = "*"
pytest-django = "*"
gunicorn = "*"

[dev-packages]
